<div class="contact-details">
	<div class="contact-details__header">
		<div class="contact-details__header__image">
			<img src="{{$ctrl.contact.largeImageURL}}" />
		</div>
		<div class="contact-details__header__brief">
			<div class="contact-details__header__brief__name">{{$ctrl.contact.name}}</div>
			<div class="contact-details__header__brief__company">
				Company: <span class="contact-details__header__brief__company--name">{{$ctrl.contact.company}}</span>
			</div>
		</div>
	</div>

	<div class="contact-details__description">
		<div class="contact-details__description__phone">Phone: {{$ctrl.contact.phone.home}}</div>

		<div class="contact-details__description__address">Address: {{$ctrl.contact.address}}</div>
		
		<div class="contact-details__description__birthday">Birthday: {{$ctrl.contact.birthday}}</div>
		
		<div class="contact-details__description__email">Email: {{$ctrl.contact.email}}</div>
	</div>
</div>