.contact-details {
	margin: 5%;
	&__header{
		width: 100%;
		display: flex;

		&__image{
		}
		&__brief{
			&__name{
				font-weight: bold;
				font-size: large;
			}
			&__company{
				&--name{
					font-weight: bold;
					font-size: large;		
				}
			}
		}
	}

	&__description {
		&__phone{}
		&__address{}
		&__birthday{}
		&__email{}
	}
}


