.contact-details {
  margin: 12px;
  width: 90%;

  &__goback{
    cursor: pointer;
    font-weight: bold;
    line-height: 32px;
  }

  &__header{
    display: flex;

    &__image{
    }
    &__brief{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__name{
        font-weight: bold;
        font-size: larger;

      }
      &__company{
        span{
          display: grid;
        }

        &--name{
          font-weight: bold;
          font-size: larger;    
        }
      }
    }
  }

  &__description {
    margin-top: 20px;

    &__phone{
    margin-top: 10px;
      &--detail{
        margin-top:5px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        span{
          text-transform: capitalize;
        }
      }
    }
    &__address{
    margin-top: 10px;
      &--detail{
        margin-top:5px;
        font-weight: bold;
      }
    }
    &__birthday{
    margin-top: 10px;
      &--detail{
        margin-top:5px;
        font-weight: bold;
      }
    }
    &__email{
    margin-top: 10px;
      &--detail{
        margin-top:5px;
        font-weight: bold;
      }
    }
  }
}


