.contact-list{
  background-color: lightgrey;
  border-right: 1px solid black;
  overflow-y: scroll;
  height: 100%;
  
  &__element{
  cursor: pointer;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid black;

    &.active{
      background-color: grey;
      color: white;
    }
    
    &__image{
      img {border-radius: 50%;}
    }

    &__brief{
    display: flex;
      flex-direction: column;
      justify-content: space-around;
    margin-left: 10px;

      &__name{
        font-weight: bold;
      }

      &__phone{

      }
    }
  }
}